.summary {
  text-align: center;
}

.summary-header {
  align-items: center;
  background-color: #282c34;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.mobile {
  width: 90vw;
}

.desktop {
  width: 35vw;
}

.summary-header .name {
  margin-bottom: 0;
}

.summary-header .kart {
  margin-top: 0;
}

.stat-gauge-desktop {
  padding-bottom: 10px;
  width: 50vw;
}

.stat-gauge-mobile {
  padding-bottom: 10px;
  width: 90vw;
}
