.progrss-label {
  font-size: auto;
  text-align: right;
}

.line-div {
  display: block !important;
}

.label-div {
  width: 25%;
}

.progress-bar-div {
  width: 75%;
}

.stat-container {
  display: inline-block;
  padding: 20px;
}

.stat-header {
  display: block;
  font-size: 0.8em;
  text-align: center;
}

.gauge {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}
