$portraitContentWidth: 90vw !default;
$portraitContentWidth: 90vw !default;
$landscapeContentWidth: 35vw !default;
$landscapeStatWidth: 70vw !default;
$mobileContentPadding: 5vw !default;
$desktopContentPadding: 0vw !default;
$desktopNavbarHeight: 8vh !default;
$mobileNavbarHeight: 8vh !default;
