@import 'include-media';
@import 'variables';

$breakpoints: (phone: 570px, tablet: 768px, desktop: 1024px);

.layout {
  background-color: #282c34;
}

.navbar {
  @include media("<=phone") {
    min-height: $mobileNavbarHeight;
    max-height: $mobileNavbarHeight;
  }
  @include media(">phone") {
    min-height: $desktopNavbarHeight;
    max-height: $desktopNavbarHeight;
  }
  background-color: #21252b;
  z-index: 100;
  padding: 0px !important;
}

.outlet {
  @include media("<=phone") {
    padding-top: $mobileNavbarHeight;
  }
  @include media(">phone") {
    padding-top: $desktopNavbarHeight;
  }
  height: 100vh;
}

.component {
  text-align: center;
  width: 100%;
}

.component-header {
  align-items: center;
  background-color: #282c34;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
}

.page-content {
  @include media("<=phone") {
    padding-bottom: $mobileContentPadding;
    width: $portraitContentWidth;
  }
  @include media(">phone") {
    padding-bottom: $desktopContentPadding;
    width: $landscapeContentWidth;
  }
}

.stat-summary-content {
  @include media("<=phone") {
    padding-bottom: $mobileContentPadding;
    width: $portraitContentWidth;
  }
  @include media(">phone") {
    padding-bottom: $desktopContentPadding;
    width: $landscapeStatWidth;
  }
}

.component-header .name {
  margin-bottom: 0px;
  padding-top: 10px;
}

.component-header .kart {
  margin-bottom: 10px;
  margin-top: 0px;
}

.hint {
  margin-top: 10px;
  font-size: 12px;
  padding-bottom: 5px;
}

.back-button {
  border: none;
  background: none;
  color: #fff;
  float: left;
  @include media("<=phone") {
    font-size: calc(#{$mobileNavbarHeight} * 0.5) !important;
  }
  @include media(">phone") {
    font-size: calc(#{$desktopNavbarHeight} * 0.5) !important;
  }
}

.home-button {
  border: none;
  background: none;
  color: #fff;
  float: right;
  @include media("<=phone") {
    font-size: calc(#{$mobileNavbarHeight} * 0.5) !important;
  }
  @include media(">phone") {
    font-size: calc(#{$desktopNavbarHeight} * 0.5) !important;
  }
}

.navbar-title {
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin: 0 auto !important;
  @include media("<=phone") {
    font-size: calc(#{$mobileNavbarHeight} * 0.4) !important;
  }
  @include media(">phone") {
    font-size: calc(#{$desktopNavbarHeight} * 0.4) !important;
  }
}

.title {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.always-on-top {
  z-index: 100 !important;
}
